<div class="container">
    <div id="image-modal" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title"><%= project_title %></p>
                </header>
                <section class="modal-card-body">
                    <figure class="image">
                        <img src="<%= img %>">
                    </figure>
                    <div class="content">
                        <p id="description" class="subtitle is-5 mb-1 is-underlined">Description:</p>
                        <ul>
                            <li> <%= description %></li>
                        </ul>
                        
                        <p id="duration" class="subtitle is-5 mb-1 is-underlined">Duration:</p>
                        <ul><li><%= moment(startDate).format('YYYY-MM') %> ~ <%= moment(endDate).format('YYYY-MM') %></li></ul>

                        <p id="team" class="subtitle is-5 mb-1 is-underlined">Team:</p>
                        <ul><li><%= team %></li></ul>
                        
                        <p id="skillStacks" class="subtitle is-5 mb-1 is-underlined">Skill Stacks:</p>
                        <ul>
                            <% for(var i = 0; i < skillStacks.length; i++) { %>
                                <li class="mb-1"><p class="is-italic"> <%= skillStacks[i][0] %></p></li>
                                <% for(var j = 0; j < skillStacks[i][1].length; j++) {%>
                                <img src= <%= skillStacks[i][1][j] %> height="37">
                            <% }} %>
                        </ul>
                        <p id="assignedTasks" class="subtitle is-5 mb-1 is-underlined">Assigned Tasks:</p>
                        <ul><li><%= assignedTasks %></li></ul>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <a href="<%= repo %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-brands fa-github fa-beat fa-2xl"></i>
                        </span>
                    </a>
                    <a href= "<%= link %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-solid fa-link fa-beat fa-2xl"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<%- include('projects.ejs') %>