<div class="container">
    <div id="image-modal" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title"><%= project_title %></p>
                </header>
                <section class="modal-card-body">
                    <figure class="image">
                        <img src="<%= img %>">
                    </figure>
                    <p id="description">Description:</p>
                    <li><%= description %></li>
                    <br>
                    <p id="duration">Duration:</p>
                    <li><%= duration %></li>
                    <br>
                    <p id="team">Team:</p>
                    <li><%= team %></li>
                    <br>
                    <p id="skillStacks">Skill Stacks:</p>
                    <div class="content">
                        <p class="subtitle is-5">Languages</p>
                        <img src="https://img.shields.io/badge/java-007396?style=for-the-badge&logo=java&logoColor=white" height="37"> 
                        <img src="https://img.shields.io/badge/c++-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/python-3776AB?style=for-the-badge&logo=python&logoColor=white" height="37"> 
                        <p class="subtitle is-5">Back-end</p>
                        <img src="https://img.shields.io/badge/node.js-339933?style=for-the-badge&logo=Node.js&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/express-000000?style=for-the-badge&logo=express&logoColor=white" height="37">
                        <br>
                        <p class="subtitle is-5">Front-end</p>
                        <img src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white" height="37"> 
                        <img src="https://img.shields.io/badge/css-1572B6?style=for-the-badge&logo=css3&logoColor=white" height="37"> 
                        <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" height="37"> 
                        <br>
                        <p class="subtitle is-5">Database</p>
                        <img src="https://img.shields.io/badge/mysql-4479A1?style=for-the-badge&logo=mysql&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/mongodb-47A248?style=for-the-badge&logo=mongodb&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/firebase-FFCA28?style=for-the-badge&logo=firebase&logoColor=black" height="37">
                        <br>
                        <p class="subtitle is-5">Cloud</p>
                        <img src="https://img.shields.io/badge/aws-232F3E?style=for-the-badge&logo=amazon-aws&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/google_cloud-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/aws_ec2-FF9900?style=for-the-badge&logo=amazon-aws&logoColor=white" height="37">
                        <br>
                        <p class="subtitle is-5">Tools</p>
                        <img src="https://img.shields.io/badge/git-F05032?style=for-the-badge&logo=git&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/visual_studio_code-007ACC?style=for-the-badge&logo=visual-studio-code&logoColor=white" height="37">
                        <br>
                        <p class="subtitle is-5">OS</p>
                        <img src="https://img.shields.io/badge/macos-000000?style=for-the-badge&logo=macos&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/windows-0078D6?style=for-the-badge&logo=windows&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/ubuntu-E95420?style=for-the-badge&logo=ubuntu&logoColor=white" height="37">
                        <br>
                        <p class="subtitle is-5">IDE</p>
                        <img src="https://img.shields.io/badge/intellij_idea-000000?style=for-the-badge&logo=intellij-idea&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/visual_studio-5C2D91?style=for-the-badge&logo=visual-studio&logoColor=white" height="37">
                        <img src="https://img.shields.io/badge/pycharm-000000?style=for-the-badge&logo=pycharm&logoColor=white" height="37">
                        <br>
                    </div>
                    <p id="assignedTasks">Assigned Tasks:</p>
                    <li><%= assignedTasks %></li>
                </section>
                <footer class="modal-card-foot">
                    <a href="<%= repo %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-brands fa-github fa-beat fa-2xl"></i>
                        </span>
                    </a>
                    <a href= "<%= link %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-solid fa-link fa-beat fa-2xl"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<%- include('projects.ejs') %>