<div class="container">
    <div id="image-modal" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title"><%= project_title %></p>
                </header>
                <section class="modal-card-body">
                    <figure class="image">
                        <img src="<%= img %>">
                    </figure>
                    <p id="description">Description:</p>
                    <li><%= description %></li>
                    <br>
                    <p id="duration">Duration:</p>
                    <li><%= moment(startDate).format('YYYY-MM') %> ~ <%= moment(endDate).format('YYYY-MM') %></li>
                    <br>
                    <p id="team">Team:</p>
                    <li><%= team %></li>
                    <br>
                    <p id="skillStacks">Skill Stacks:</p>
                    <div class="content">
                        <% for(var i = 0; i < skillStacks.length; i++) { %>
                            <p class="subtitle is-5"> <%= skillStacks[i][0] %></p>
                            <% for(var j = 0; j < skillStacks[i][1].length; j++) {%>
                            <img src= <%= skillStacks[i][1][j] %> height="37">
                        <% }} %>
                        
                    </div>
                    <p id="assignedTasks">Assigned Tasks:</p>
                    <li><%= assignedTasks %></li>
                </section>
                <footer class="modal-card-foot">
                    <a href="<%= repo %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-brands fa-github fa-beat fa-2xl"></i>
                        </span>
                    </a>
                    <a href= "<%= link %>" target="_blank">
                        <span class="icon is-large">
                            <i class="fa-solid fa-link fa-beat fa-2xl"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<%- include('projects.ejs') %>